# Python byte compiled files
*.pyc
*.wsgic
*.exe
.vscode/settings.json
build/*
build/*.*
dist/pytincture-0.0.1-py3.7.egg
pytincture.egg-info
pytincture.egg-info/dependency_links.txt
pytincture.egg-info/PKG-INFO
pytincture.egg-info/SOURCES.txt
pytincture.egg-info/top_level.txt
.vscode/launch.json
dist
dist/*.whl
*.zip
*.pyt
.DS_Store
